*{
    margin: 0;
    padding: 0;
    color: #F7CCAC;
}
.buttonPressedTextColor{
    color: #3A3845
}
button{
    color: #F7CCAC
    
}
body{
    background-color: #3A3845;
}
header{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    padding-block: 25px
}
.dropdownContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.topButtonContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    min-width: 600px;
    margin: auto;
}
.inputContainerRow{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    color: #F7CCAC;

}
.topButtonPadding{
    padding: 5px 10px;
}
.topRandomButton{
    width: 15vw;
    background-color: #52493d;
    border: 1px solid black;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topRandomButtonPressed{
    background-color: #ABC4AA;
    color: #3A3845;
}
.dropdown{
    max-width: 75px;
    min-width: 75px;
    /* background-color: #826F66; */
    background-color: #675D50;
    border: 1px inset black;
}
#recommendationSentence{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding-block: 50px
}

#details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.word{
    border-bottom: solid 1px #F7CCAC;
}
.wordContainer{
    margin: 20px;
}
.wordLabel{
    font-size: 17.5px;
}
#adjustmentListContainer{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    width: 85%;
    margin: auto;
    background-color: #675D50;
}
.adjustmentListItemContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.adjustmentInput{
    width: 85%;
    height: 35px;
    background-color: #826F66;
}
.adjustmentInputLabelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    font-size: 25px;
    letter-spacing: 1px;
    border: inset 1px black;
}
.enableButton{
    min-width: 75px;
    font-size: 12px;
    padding: 4px;
    background-color: #52493d;
    border: 1px inset black;
}
.enableButtonPressed{
    min-width: 75px;
    background-color: #ABC4AA;
    color: #3A3845;
}
.copyIconContainer{
    width: 85%;
    min-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 25px;
}
.iconPlusContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconPlusContainer:hover{
    color: #F7CCAC;
}
.iconRandomContainer:hover{
    color: #F7CCAC;
}
.iconShuffleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
i{
    color: inherit;
}
.detailsIcon:hover{
    color: #F7CCAC;
}
.detailsIcon{
    opacity: 0.0;
    pointer-events: none;
}
.itemContainerDiv{
    display: flex;
    width: 100%;
}

.buttonCatagories{
    margin-block: 25px 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
.buttonCatagory{
    padding-block: 20px;
    width: 100%;
    height: 100%;
    border: solid 1px black;
    background-color: #52493d;   
}
.buttonCatagory:hover{
    background-color: #ABC4AA;   
    color: #3A3845;
}
/* .buttonCatagory:active{
    background-color: #ABC4AA;   
    color: #3A3845;
} */
.activeButton {
    background-color: #ABC4AA;   
    color: #3A3845;
}
.wordButton{
    width: 15vw;
    background-color: #52493d;
    border: 1px solid black;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wordButtonContainer{
    display: flex;
    justify-content: space-around;
    margin-inline: 20%;
}
.wordButton:active{
    background-color: #ABC4AA;   
}
.unlockButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px inset black;
}
.artComboUnlock{
    padding-inline: 5px;
}
.artComboLock{
    padding-inline: 7px;
    
}
.subjectartComboUnlock{
    padding-inline: 12px;
    
}
.subjectartCombolock{
    padding-inline: 14px;

}